<div class="ow_dialog_item">
    <div class="ow_dialog_in_item " id="dialogMessageWrapper">
        {if !empty($message)}
        <p>{$message}</p>
        {/if}
        <div class="ow_oembed_attachment_preview">
            {if !empty($data.thumbnail_url) }
            <div class="ow_oembed_attachment_pic">
                <a href="{$data.href}" target="_blank">
                    <img src="{$data.thumbnail_url}">
                </a>
            </div>
            {elseif !empty($data.url)}
            <div class="ow_oembed_attachment_pic">
                <a href="javascript://" target="_blank" onclick="OW.showImageInFloatBox('{$data.href}');">
                    <img src="{$data.url}" class="attachment_thumb from_fullsize_photo OW_AttachmentImage" />
                </a>
            </div>
            {elseif !empty($data.html)}
            {$data.html}
            {/if}

            {if !empty($data.title)}
            <div class="ow_attachment_title"><a href="{$data.href}" target="_blank">{$data.title}</a></div>
            {/if}
            {if !empty($data.description)}
            <div class="ow_attachment_description">{$data.description}</div>
            {/if}
        </div>
    </div><i></i>
</div>